html{
    background-color:rgb(158, 233, 235);
}
br{
    display: block;
    margin:0%;
}
h1{
    margin:0px;
    text-align: center;
    color:rgb(255, 52, 52);
}
button{
    color:azure;
    background-color:slateblue;
    border-radius: 10px;
    border-width: 3px;
    border-color:blue;
    border-style:dotted;
}