html{
    background-color:rgb(209, 246, 253);
}
br{
    display: block;
    margin:0%;
    padding: 0px;
    border:0px;
}
h1{
    margin: 0px;
}
.name{
    text-align: center;
    color:burlywood;
    transition: 1.4s;
}
.name:hover {
    transform: rotateY(180deg);
}

button{
    color:burlywood;
    font-size: medium;
    background-color:antiquewhite;
    border-radius: 30px;
    border-width: 3px;
    border-color:burlywood;
    border-style:dotted;
    padding: 15px 25px;
    cursor:pointer;
    transition-duration: 0.4ss;
}
.button:hover {
    background-color: azure;
    border-style:ridge;
}

.paragraph{
    color:brown;
    transition: 0.9s;
}
.paragraph:hover {
    transform:rotateY(180deg);
    color:black;
}
