html{
    background-color:rgb(209, 246, 253);
}
br{
    display: block;
    margin:0%;
    padding: 0px;
    border:0px;
}
h1{
    letter-spacing: 10px;
    font-size: 80px;
    margin: 0px;
    /* font-weight: 400; */
    /* width: 50%; */
    /* font-family:fantasy; */
}
.name{
    text-align: center;
    /* font-weight:100; */
    color:rgb(23, 8, 123);
    transition: 1.4s;
}
.name:hover {
    transform: rotateY(360deg);
}

button{
    color:rgb(23, 8, 123);
    font-size: medium;
    background-color:antiquewhite;
    border-radius: 30px;
    border-width: 3px;
    border-color:rgb(23, 8, 123);
    border-style:dotted;
    padding: 15px 25px;
    cursor:pointer;
    transition-duration: 0.4ss;
}
.button:hover {
    background-color: azure;
    border-style:ridge;
}

p{
    color:brown;
    text-align: center;
}
.cret{
    text-decoration: none;
    color:yellowgreen;
    /* line-height */
    /* letter-spacing: normal; */
}
.cret:hover{
    color:black;
}