section{
    width:500px;
    height:500px;
    background-color: aqua;
}

#rgba{
    width:50%;
    height: 50%;
    background-color: rgba(255, 255, 255,0.6);
    /* background-color:#00cca0'b8-alpha' */
}
#opacity{
    width:50%;
    height: 50%;
    background-color: aquamarine;
    opacity: 0.3;
}